.startup_article_content_div {
  color:#2c2D2e;
}
.startup_article_content_div a{
  color:#74a2d6;
}
.pagen_button {
  margin: 0 4px;

}
.pagen_button_round {
  border-radius: 30px !important;
  height: 60px ;  
}
.other_buttons {
  margin: 0 4px;
}
/*
.pagen_top_div {
  line-height: 30px;
  text-align: center;
}
.pagen_top_div__title {
  color:#C4C8CC;
}
*/
