hr {
  border-top:1px solid #e7e8ec;
  width:90%;
}

.listDiv {
  padding-top: 0;
  font-weight: 400;
}
.intro_group {
  /*minHeight:'160px*/
}
.big_photo {
  display: inline-block;
  width: 100%;
  height: 12rem;
  background-size: cover;
  max-width: 600px;
}
.social_button {
  color:#99A2AD;
  font-weight: 300;
}
.favored {
  color:#FFD54F;
}

.topGreyBorder {
      border-top: 1px solid #e7e8ec;
}

.searchDiv {
  background-color: #5181b8;
  height: 10px;
}
.groupList {
  margin-top: 0;
}
.searchCustom::after{
  position:  initial !important;
}
.groupOnTop {
  margin-top: 0;
}
.photo-div {
  text-align: center;
}

.no-select {
-moz-user-select: none; /* Mozilla Firefox */
-ms-user-select: none; /* Internet Explorer (не поддерживается) */
-o-user-select: none; /* Opera Presto (не поддерживается) */
-webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}
.no-select-gtitle .Header__in {
  -moz-user-select: none; /* Mozilla Firefox */
  -ms-user-select: none; /* Internet Explorer (не поддерживается) */
  -o-user-select: none; /* Opera Presto (не поддерживается) */
  -webkit-user-select: none; /* Google Chrome, Opera Next, Safari */
}

button .Tappable__waves  {
  display: none;
}
/*
.tabItem {
  color:#99A2AD;

}
.pagen_button_round:active {

background-color:#3371B8;

}

.pagen_button_round:focus {
  background-color:#3371B8;

}*/
