hr {
  border-top:1px solid #e7e8ec;
  width:90%;
}

.listDiv {
  padding-top: 0;
  font-weight: 400;
}
.intro_group {
  /*minHeight:'160px*/
}
.big_photo {
 max-width: 600px;
      height: 12rem;


      background-size: cover;

}
.social_button {
  color:#99A2AD;
  font-weight: 300;
}
.favored {
  color:#FFD54F;
}

.topGreyBorder {
      border-top: 1px solid #e7e8ec;
}

.searchDiv {
  background-color: #5181b8;
  height: 10px;
}
.groupList {
  margin-top: 0;
}
.searchCustom::after{
  position:  initial !important;
}

/*
.tabItem {
  color:#99A2AD;

}
.pagen_button_round:active {

background-color:#3371B8;

}

.pagen_button_round:focus {
  background-color:#3371B8;

}*/
